
.blue-orange-data-table-markdown-cell {
    font-size: 14px;
    position: relative;
    padding: 5px 5px;
    overflow: hidden;
    max-width: 100%;
}

.blue-orange-data-table-markdown-cell .blue-orange-markdown-text {
    font-size: inherit;
}

.blue-orange-data-table-markdown-cell .blue-orange-markdown-text p {
    margin: 0;
}

.blue-orange-data-table-theme-object-list .blue-orange-data-table-markdown-cell {
    border: none;
    border-bottom: 1px solid #e0e1e2;
}
