.foundations-success-checkmark {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    stroke-miterlimit: 10;
    fill-opacity: 0;
    fill: white;
    animation: foundations-success-fill .2s ease-in-out .2s forwards, foundations-success-scale .3s ease-in-out .7s both;
    position:relative;
}

@keyframes foundations-success-fill {
    from {
        fill-opacity: 0;
    }
    to {
        fill-opacity: 1;
    }
}

@keyframes foundations-success-scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}