.blue-orange-default-heading {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    color: var(--blue-orange-light-default-text-color, #1c2833);
}

.dark .blue-orange-default-heading {
    color: var(--blue-orange-dark-default-text-color, #fff);
}
