

.blue-orange-default-btn-icon{
    height: 36px;
    width: 36px;
    border-radius: 8px;
    border: 1px solid #e0e1e2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
